{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'assistencias/style.css' %}" />
<p>ASSISTENCIAS</p>
<ul class="menu">
  <li><a href="#Pedidos">Pedidos</a></li>
  <li><a href="{% url 'assistencias:index' %}">Assistencias</a></li>
  <li><a href="#Contactos">Contactos</a></li>
  <li><a href="#Sobre">Sobre</a></li>
</ul>


<h1>{{ assistencia.topico_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'assistencias:atualizar' assistencia.id %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Atualizar" />
</form>

