{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'assistencias/style.css' %}" />

<ul class="menu">
  <li><a href="{% url 'assistencias:index' %}">Assistencias</a></li>
  <li><a href="#Pedidos">Pedidos</a></li>
  <li><a href="#Contactos">Contactos</a></li>
  <li><a href="#Sobre">Sobre</a></li>
</ul>

<table id="tabela_assistencias">
    <th>id</th>
  <th>nome_text</th>
  <th>telefone_text</th>
  <th>email_text</th>
  <th>morada_text</th>
  <th>localidade_text</th>
   <th>codigo_postal_text</th>
<tbody>
<div class="container">
  <div class="formAssistencia">
  <form action="{% url 'assistencias:pesquisa_assistencia'%}" method="post">
      {% csrf_token %}
      {{formAssistencia.as_p}}
      <input type="submit" value="Pesquisa" />
  </form>
  </div>

  <div class="formClientes">
    <form action="{% url 'assistencias:pesquisa_cliente'%}" method="post">
      {% csrf_token %}
      {{formCliente.as_p}}
      <input type="submit" value="Pesquisa" />
      <input type="button" value="Novo Cliente" onclick="document.location = '{% url 'assistencias:index' %}'">
  </div>

  <div class="formProdutos">
    <form action="{% url 'assistencias:pesquisa_produto'%}" method="post">
      {% csrf_token %}
      {{formProduto.as_p}}
      <input type="submit" value="Pesquisa" />
      <input type="button" value="Novo Produto" onclick="document.location = '{% url 'assistencias:index' %}'">
  </div>
</div>

{% for produto in produtos %}
  <tr onclick="document.location = '{% url 'assistencias:atualiza_produto' produto.id%}'">
    <td>{{produto.id}}</td>
    <td>{{produto.marca_text}}</td>
    <td>{{produto.numserie_text}}</td>
    <td>{{produto.descricao_text}}</td>
  </tr>
{% endfor %}
</tbody>
</table>
